[2019-09-22 14:44] weordie opened #426 "Baardisk No longer working"
Hi,

First off love the addon. I downloaded the baardisk package ready for this season and it's been running great on kodi on my firestick but then all of a sudden on Thursday it stopped working. Can't get live tv or archived games. It will let me select what I want to watch, asks me what bitrate and then nothing... anyone have any idea? I'm not the most tech savvy so looking for help please.

[2019-09-22 14:48] weordie commented on #426
Actually I should add I can watch highlights of archived games but nothing else

[2019-09-30 15:09] Displayel commented on #426
is there any version of the gamepass out at the moment that runs on Kodi 18 ?

[2019-11-18 14:36] baardisk commented on #426
I have been using my version since the start of the season with Kodi (Leia) on Android TV. I haven't had any problems. But I have to use the Inputstream-adaptive.

[2020-09-11 02:51] derekgebhard opened #427 "Are GamePass EU and GamePass International Still Different for 2020?"
Should we expect this to only work with eu still?

[2020-09-12 22:12] jm-duke commented on #427
I'm not aware of any change to this situation. GP EU is still working with master, so I might be inclined to think that GP International is still not.

I don't think any dev (if any are still active) has access to a GP International subscription for testing, so this might not change
anytime soon.

[2020-09-12 23:05] derekgebhard commented on #427
I have AU/International. I noticed this year there is no separate EU app and I was able to log in to the gamepass website from EU (which wouldnt work years past) which is why I was asking. The firetv app is god awful this year and wont even skip to live on games when its not frozen.

I will set up Kodi on my firetv and give it try. If i get enough time i might be able to contribute code back if ne

[2020-09-13 03:58] derekgebhard commented on #427
I played around a little tonight.  At first it failed to play the games as expected when selecting one of them and do anything when clicking NFL Network (error logs below). However, I was able to get games to play later for some reason after playing them on my computer through the Gamepass website.

I had a hard time getting the Pigskin Request/Response Debug logs to show up in Kodi.log even after

[2020-09-29 14:14] haGibear commented on #427
I (from Austria) have GP International (Europe and International got merged last year).

Installed from GitHub (changed xbmc.gui version in addon.xml), enabled Input Adaptive Streaming.
It works!

[2020-09-29 16:09] derekgebhard commented on #427
haGibear.  I am the same, the key was enabling Input Adaptive Streaming as selecting a game quality is broken.

I haven't been able to get NFL Network and Redzone to work.  Any luck there on your side.

[2020-09-30 06:01] haGibear commented on #427
NFL Network and Redzone are working fine. Gonna test on Sunday if Redzone Live is also working.

[2020-09-30 06:14] sieversMartin commented on #427
In the first two weeks (especially the first) I had big problems starting Redzone. I just did not get the corresponding menu entries, but an error. Single games were working fine though. This week, everything worked directly.

[2021-02-21 16:54] whitesnuf opened #428 "Kodi 19"
Kodi was updated to Version 19. This plugin is marked as not compatible.

Is there a chance to make compatible to Kodi 19?

Regards, whitesnuf

[2021-02-23 21:38] jm-duke commented on #428
Alex mentioned a while ago that it should be pretty straight forward.

I'm still running on Kodi 18, so I have to get my hands on a testing equipment with Kodi 19. Sooner or later, I'll need the Kodi 19 support myself, so let's see what I can come up with :)

[2021-03-02 22:20] jm-duke commented on #428
Luckily, I had a good old Raspi2 lying around.

With some modifications to the code I was able to successfully install and run the addon on an alpha release of Kodi 19. Watching games works, at least the two I tested ;-).

NFL network ain't working at the moment,  that one probably needs some extensive digging.

If you want to can give it a shot, you may install the addon via zip from the matrix b

[2021-03-02 23:04] jm-duke commented on #428
Update: NFL network is now working too

[2021-03-03 06:43] aqw commented on #428
Hey Everyone,

Obviously I have not been active in this project for probably 2 years now. New job, new city, overseeing a new team has meant that that 24 hours aren't enough in a day (even with lockdown).

I've been sad about watching this addon slowly decay. There's a lot of potential in both it and pigskin.

I am /thrilled/ to see that @jm-duke has forked this repo and given it some much needed

[2021-03-03 12:31] kabukimurder commented on #428
Great work @jm-duke!! 👏 👏 👏
Hopefully there's a way to make the fork more visible to people.

[2021-03-03 12:52] aqw commented on #428
That's the goal. :-)

[2021-03-04 22:24] jm-duke commented on #428
Hey @aqw,

nice hearing from you again! Never thought about returning to hacking the addon and pigskin? ;-)

Hm, I don't know if my time budget permits investing an awful lot of time into coding. But I'm at least using it for ~6 months every year and my wife is thoroughly pissed if the addon ain't working. So motivation to keep it running is there :D.

@aqw if you'd like to fully retreat, maybe we

[2021-03-05 06:19] aqw opened #429 "future of xbmc-gamepass and pigskin"
Following up on a conversation in #428, we should figure out a way to reduce the friction for contributors despite my lack of involvement.

I see a few options:
1) This continues to be the canonical location for both projects. @jm-duke (and any others willing to contribute) is given commit privileges.
2) I archive both projects, and add notes pointing to @jm-duke's forks.
3) Create a new GitHub or

[2021-03-05 06:20] aqw commented on #428
Hey @jm-duke, :-)

It's less about a desire to step away and more accepting the reality that I don't have the time (sadly). I don't want to step away, but I also don't want the project to fail due to my lack of involvement, especially when there's interest by others to keep it alive.

I may find time in the future, and contribute again, but right now, I don't have the mental bandwidth to review PR

[2021-03-05 22:50] jm-duke commented on #429
Well, I'd opt for 3. Both repos are now in your personal namespace, which you'll maybe want to use for something different in the future. Just look at mine, it's a mess. So I wouldn't want anything pointing there either ;-)

pigskin as org sounds good, repo names as well.

[2021-03-06 14:12] aqw commented on #429
Sounds great. :-)

It looks like the "pigskin" namespace is currently in use by a dormant account. I have contacted GitHub to see if they'd be willing to open up that name for us. Otherwise, we'll come up with something else.

[2021-03-06 22:50] jm-duke commented on #429
Bugger :)

Well, we could opt for football-bromance, to honor Coach Esume and Bjoern Werner :kiss: :eyes:

[2021-03-07 15:37] aqw commented on #429
There's still hope that they'll give us the namespace. They do that sometimes when obviously dormant accounts are blocking active users.

It seems they aren't answering support requests on the weekend (which is sane). I expect they'll respond by Tuesday or Wednesday. Then we'll see what adventure we choose. :-)

[2021-03-10 15:15] aqw commented on #429
Wonderful. GitHub was kind enough to classify the old account as name squatting, and freed up the name. We now have a "pigskin" organization. :-)

@jm-duke I have sent you an invite. Once you accept, I'll give you all the happy rights, and we'll go from there. :-)

[2021-03-10 22:13] jm-duke commented on #429
Awesome :tada:

[2021-03-11 06:59] aqw commented on #429
I have granted you organizational superpowers. ;-)

All the work seems to be done, and you can now push, create repos, etc.

Enjoy, and thanks for working on the addon!

[2021-03-11 06:59] #429 closed

[2021-03-11 07:01] aqw commented on #428
The new organization has been created, and @jm-duke now has commit rights (and the ability to grants those rights to others too).

I assume that @jm-duke will push his fixes for Kodi 19 to this repo soon, which should improve the visibility. :-)

[2021-03-11 21:39] jm-duke commented on #428
I pushed my matrix branch to this repository now, but won't merge it yet. I'll probably wait until the likes of LibreELEC and OSMC switch to and fully support Kodi 19.

[2021-03-13 21:44] jm-duke commented on #428
I'm thinking about creating a PR to re-add the gamepass addon to the kodi repo for Matrix.

@whitesnuf have you been able to test the master branch? Is it working on your end?

[2021-03-13 22:07] whitesnuf commented on #428
The matrix branch works for me. The master branch seems not to be updated yet.

[2021-03-18 14:44] kabukimurder commented on #428
I tried the matrix branch on Kodi 19(android tv) and it works great.
However i couldn't open the settings from the icon inside the app.. had to do it from the outside.

Also the regular non-inputstream option should probably be removed in the future since it's hasn't worked in a long time. Nothing new for matrix  ofc.

[2021-03-21 21:46] jm-duke commented on #428
Thanks for the feedback.

I had the settings icon working in a Kodi 19 Alpha release, on the nightly LibreELEC build I use now it ain't working either. I'll look into it.

And I probably should also take a look at the non-adaptive streams ;-)

[2021-06-08 19:04] Weserspucker commented on #428
does anyone else have an error message when trying to start NFL network or other content?

ERROR: No active NFL Game Pass Europe subscription was found.
ERROR: Previous line repeats 1 times.
ERROR: _gp_auth: server response is invalid ERROR: Could not acquire GP tokensERROR: _gp_auth: server response is invalid

my subscription is active! and works with official apps and browser

[2021-06-09 07:45] kabukimurder commented on #428
I also can't start streams from the addon anymore. I guess they have redone something in their API this offseason. They pushed an update to the android tv app yesterday also.

[2021-06-09 15:07] jm-duke opened #430 "Content fails to play"
does anyone else have an error message when trying to start NFL network or other content?

ERROR: No active NFL Game Pass Europe subscription was found.
ERROR: Previous line repeats 1 times.
ERROR: _gp_auth: server response is invalid ERROR: Could not acquire GP tokensERROR: _gp_auth: server response is invalid

my subscription is active! and works with official apps and browser

_Originally poste

[2021-06-09 15:09] jm-duke commented on #430
Same here, and affects the older plugin version as well. So I concur with kabukimurder, smells like an API change. I'm pretty busy right now, but I'll look into it.

[2021-06-13 09:02] #430 closed

[2021-06-13 09:06] jm-duke commented on #428
Diva added some API validation. Fix to master is pushed already. I'll apply some more code cleanups to the matrix branch and push a fix in a few minutes.

[2021-06-17 05:04] TweekDash commented on #428
which branch should I be using for Kodi 19.1? I downloaded .zip of master branch but ran into error: "dependency on xbmc.python version 2.26.0 could not be satisfied"

[2021-06-17 13:27] jm-duke commented on #428
@TweekDash please use the matrix branch

[2021-07-21 04:23] msmittag commented on #428
Hey Guys,

sorry just trying to make sure I got it right - only a user and fan - no expert. I use a Raspberry Pi3 and the app that worked for two years (gamepass Europe) does no longer. So I will have to:
Install Kodi 19 - saw it as a download-version on LibreElec website - is that OK?
Install the app that jm-duke linked in his post of 2nd March

That should do it?

[2021-07-21 18:51] jm-duke commented on #428
Which Kodi version are you running? 18?

If that's the case, you can download the master branch zip and install it in Kodi.

[2021-07-22 04:19] msmittag commented on #428
Yes, running Kodi 18 - will try to install master branch zip.

Thanks!

[2021-07-27 08:18] msmittag opened #431 "Streams will not start"
Hi folks,

so I am using a Raspberry Pi3 and run LibreELEC 9.2.8 with Kodi 18.
I installed:
-	iso8601
-	m3u8
-	Requests 2.x
-	kodi-gamepass-master.zip
I am able to login to the app OK with my gamepass Europe subscription but no stream will start. No matter if I choose full game, highlights or compressed game. Same with NFL network.

Any hints?

Cheers
Michael

[2021-07-27 18:15] rschloeg commented on #431
Same for me on a Raspberry Pi4. After choosing a game I get the popup which allows me to choose the resolution - and that's it. No video and no error message popping up.

[2021-07-27 20:39] jm-duke commented on #431
Yeah, non-adaptive streams have been broken for a while.

Iirc, LibreELEC does not ship with the inputstream adaptive addon. Please try installing the "InputStream Adaptive" add-on and configure adaptive streams in the settings dialog of the gamepass addon.

[2021-07-28 04:37] msmittag commented on #431
Hi Thomas,
oh shoot... Now I remember I had to do something like that say 4 years ago but did'nt when I updated Operation system and Kodi.Will try. The add-on is in the repository?
CheersMichael

-----Original Message-----
From: Thomas Hager ***@***.***>
To: pigskin/kodi-gamepass ***@***.***>
Cc: msmittag ***@***.***>; Author ***@***.***>
Sent: Tue, Jul 27, 2021 10:39 pm
Subject: Re: [pigskin/kodi

[2021-07-28 04:50] jm-duke commented on #431
Yes, it is.

[2021-07-28 16:13] rschloeg commented on #431
Thank you very much for the reply to @jm-duke.

Input Stream Adaptive was already installed on my RPi and before commenting here I did a try first with deactivated and then with activated Adaptive Streams in Gamepass settings. Both did **not** work initially.
But your answer made think again and I remembered from years ago that some setting changes needed a reboot. And indeed, after a reboot it wo

[2021-07-29 04:23] msmittag commented on #431
Yes, worked for me too.
Many thanks jm-duke. Hope your team does well this year!
I will close.

Go niners!

[2021-07-29 04:23] #431 closed

[2021-08-01 20:34] whitesnuf commented on #428
The highest resolution in Kodi 19 is today 1024x576.

Can somebody try to get a higher resolution?

[2021-08-06 16:53] crak3rjack opened #432 "Not working Kodi 19"
@jm-duke I have a account is working fine in the web page... but not working in kodi 19.
https://pastebin.com/1458fMyj

[2021-08-13 23:47] ohhmyy opened #433 "Error loading games list when live games are on"
Hi guys. I'm running the matrix version on kodi 19. Everything works quite well so far, except when live games are on.
When I want to display the list of games of the current preseason week 1, I get an error message when a live game is in progress:
[code]

[2021-08-14 00:23] ohhmyy commented on #432
Hi. As far as i can tell, you're not using the latest version. Current version is v2021.03.14.
In your pastebin it says v2021.03.02.

[2021-08-14 00:34] crak3rjack commented on #432
@ohhmyy where can i get the latest version or repo for Kodi 19 and thanks

[2021-08-14 00:39] ohhmyy commented on #432
Just download the zip [https://github.com/pigskin/kodi-gamepass/archive/refs/heads/matrix.zip](https://github.com/pigskin/kodi-gamepass/archive/refs/heads/matrix.zip)

[2021-08-14 21:21] marcfuhrmann commented on #433
Replace line 336 with:

game_info += ("[CR]» Live «").encode('utf-8')

[2021-08-14 23:58] ohhmyy commented on #433
That worked. Thanks a lot.

[2021-08-16 07:56] marcfuhrmann commented on #433
The game that has the focus in the list has 'NONE' as the team`s City/State.

Replace lines 299-304 in default.py with:

game_name_shrt = '[B]%s @ %s[/B]' % (game['visitorNickName'], game['homeNickName'])
game_name_full = '[B]%s[/B]' % (game['video']['title'])

[2021-08-18 15:43] blueveno opened #434 "No 1080HD quality streaming"
I got m3u8 links from read url :https://live-i-backup-nflvideo.akamaized.net/ch22/3495a8b0-6121-4f3d-96e1-343c3c6a9eb0/6f3a93cc-8a3f-4ac3-8dff-5297559ec351.ism/manifest(format=m3u8-aapl-v3,filter=hls)?hdnea=st=1629190842~exp=1629191022~acl=/ch22/3495a8b0-6121-4f3d-96e1-343c3c6a9eb0/*~data=a55e8e63-49a5-4abb-b493-a4568ed30734~hmac=b749578b28ca72f58e3424abb1f5467d73544e82d0104be1633827caf993c154&hdc

[2021-08-21 15:24] BarkVeryLittle opened #435 "Open failed with code 403 for $VideoURL on Matrix"
I can't get gamepass to play videos on Matrix.
I Installed via zip downloaded from this repo after I installed the dependencies mentioned in the README file.

As far as I comprehend, login works. I removed a few parts of the log due to privacy - I marked them by [...] -, just tell me if the answer might be in those parts. I can receive the games lists but when I try to play any game if fails with

[2021-08-22 12:41] ohhmyy commented on #435
Is InputStream Adaptive installed and activated in settings?

[2021-08-23 04:50] marcfuhrmann commented on #433
The "Fix for display of NONE" is only working on past game listings.
So I deleted my fix, because it is not working for future game listings

[2021-08-23 22:07] jm-duke commented on #433
Yeah, caught another Python 2 -> Python 3 issue here ;-)

The issue is introduced a few lines up. In theory I have it fixed locally, but I still need to test this.

[2021-08-23 22:07] jm-duke commented on #432
No update in 10 days, guess ohhmyy got it right, thanks :)

[2021-08-23 22:07] #432 closed

[2021-08-23 22:09] jm-duke opened #437 "Fixed bitrate streams fail to play"
[...]
Also the regular non-inputstream option should probably be removed in the future since it's hasn't worked in a long time. Nothing new for matrix  ofc.

_Originally posted by @kabukimurder in https://github.com/pigskin/kodi-gamepass/issues/428#issuecomment-801986550_

[2021-08-23 22:12] jm-duke commented on #437
It seems the content URLs the add-on generates are no longer valid. This needs some intense reverse engineering, most probably a winter task...

A workaround: Use Inputstream Adaptive, which just works fine.

[2021-08-23 22:13] jm-duke commented on #437
Also: Probably can remove the bitrate choices in the settings dialog. It seems every game stream is encoded with different rates, so it's kinda useless to define fixed rates in the settings.

[2021-08-23 22:14] jm-duke opened #438 "Settings dialog cannot be opened from inside the app"
[...]

However i couldn't open the settings from the icon inside the app.. had to do it from the outside.

_Originally posted by @kabukimurder in https://github.com/pigskin/kodi-gamepass/issues/428#issuecomment-801986550_

[2021-08-23 22:14] jm-duke commented on #438
Need to update my testberry and test this with a more recent version of Kodi 19

[2021-08-23 22:18] jm-duke commented on #435
Yeah, pretty much looks like it.

@BarkVeryLittle: did @ohhmyy's comment help?

[2021-08-23 22:23] jm-duke commented on #434
Sorry, but I don't really get your point. Please be more descriptive and add details.

[2021-09-12 09:32] shangri26199 opened #439 "addon is not in the kodi repository"
as the title says, the addon is not listed in the kodi repository as of today.

I do think it is still installable via .zip packages. but this is not "the recommended way"

[2021-09-14 20:33] jm-duke commented on #439
Yeah, I know. Getting an add-on into the official repository is a kinda lengthy process ;-)

I currently lack time to initiate this process, but it is on my todo list. Thanks for raising
this issue, now it's tracked in here as well.

Cheers.

[2021-09-14 20:34] jm-duke commented on #434
No update, closing this request.

[2021-09-14 20:34] #434 closed

[2021-09-19 16:31] JimmyJones79 opened #440 "menu of current weeks games"
When you open the current weeks games from the left side navigation bar I get "unexpected error='(. Please enable debugging in Kodi and submit a bug report"

Now this happened last week, week 1 and now is happening on week 2.

Today week 1 games are all there and play fine. Also last Sunday (week 1) RedZone and NFL network worked fine.  Week 3 games all display as well but since they haven't happe

[2021-09-19 17:20] ohhmyy commented on #440
Hi, I think this is the same error I had. Should be fixed in one of the last versions.
See here: https://github.com/pigskin/kodi-gamepass/issues/433
So either download the latest version from here or fix it yourself in default.py.

[2021-09-19 18:22] JimmyJones79 commented on #440
Ok I'll check it out, thank you

[2021-09-19 19:03] JimmyJones79 commented on #440
Ok just did the edit, now it's working lovely. Thank you for the help.
For anyone wondering how to do this, this is what I did.
1. Unzipped the Add-on
2. Located default.py
3. Opened up default.py in notepad++
4. Went down to line 336 and replaced existing line with game_info += ("[CR]» Live «").encode('utf-8')
5. Saved the file
6. Recreated a zip file with the new default.py file
7. Open Kodi
8.

[2021-09-19 20:24] jm-duke commented on #440
Or you could have downloaded the master branch, this bug is already fixed there ;-)

[2021-09-19 20:24] #440 closed

[2021-09-21 18:28] piejanssens commented on #439
Can we help in any way?

We have some great CI setup in this shared community organisation of well maintained Kodi video add-ons to make releases to the Kodi repo a breeze. https://github.com/add-ons

[2021-11-14 00:36] BrainKingSoldier commented on #439
Where do I get a ZIP package nowadays? I'm just a simple non-programmer gamepass subscriber :D

[2021-11-15 10:54] piejanssens commented on #439
https://github.com/pigskin/kodi-gamepass/archive/refs/heads/master.zip

[2021-11-15 21:18] jm-duke commented on #439
Oops, I totally missed that one...

I wouldn't call this add-on well maintained, but I'll absolutely check out your project, thanks!

[2021-11-16 11:41] BrainKingSoldier commented on #439
thanks buddy

On Mon, Nov 15, 2021 at 11:54 AM Pieter Janssens ***@***.***>
wrote:

[2022-01-11 15:20] piejanssens commented on #439
@jm-duke Even without migrating to the other organisation, can I offer some help to maintain this add-on and get a new version in the Kodi repo?

[2022-02-06 21:38] jm-duke commented on #439
I'll tackle this one after this season, life should be quieter in Q2.

Cheers.

[2022-04-25 20:38] jm-duke commented on #28
Doing some clean-up and this bug report is really old, so I'm closing it.

[2022-04-25 20:38] #28 closed

[2022-04-25 20:38] jm-duke commented on #83
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:38] #83 closed

[2022-04-25 20:39] jm-duke commented on #85
Doing some clean-up and this enhancement request is really old, so I'm closing it.

[2022-04-25 20:39] #85 closed

[2022-04-25 20:40] jm-duke commented on #89
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:40] #89 closed

[2022-04-25 20:40] jm-duke commented on #119
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:40] #119 closed

[2022-04-25 20:41] jm-duke commented on #208
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:41] #208 closed

[2022-04-25 20:41] jm-duke commented on #210
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:41] #210 closed

[2022-04-25 20:41] jm-duke commented on #274
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:41] #274 closed, assigned to nobody

[2022-04-25 20:42] jm-duke commented on #278
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:42] #278 closed

[2022-04-25 20:44] jm-duke commented on #313
Closing this now in here, further discussion (if any) in https://github.com/pigskin/pigskin/issues/1

[2022-04-25 20:44] #313 closed

[2022-04-25 20:45] jm-duke commented on #328
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:45] #328 closed

[2022-04-25 20:46] jm-duke commented on #339
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:46] #339 closed

[2022-04-25 20:46] #344 closed

[2022-04-25 20:46] jm-duke commented on #349
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:46] #349 closed

[2022-04-25 20:47] jm-duke commented on #367
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:47] #367 closed

[2022-04-25 20:47] jm-duke commented on #373
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:47] #373 closed

[2022-04-25 20:48] jm-duke commented on #391
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:48] #391 closed

[2022-04-25 20:48] jm-duke commented on #392
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:48] #392 closed

[2022-04-25 20:49] jm-duke commented on #393
Done for Kodi 19, iirc ;-)

[2022-04-25 20:49] #393 closed

[2022-04-25 20:49] #394 closed

[2022-04-25 20:49] jm-duke commented on #396
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:49] #396 closed

[2022-04-25 20:50] jm-duke commented on #397
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:50] #397 closed

[2022-04-25 20:53] jm-duke commented on #400
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:53] #400 closed

[2022-04-25 20:54] jm-duke commented on #402
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:54] #402 closed

[2022-04-25 20:54] #403 closed

[2022-04-25 20:55] jm-duke commented on #404
Done for Kodi 19

[2022-04-25 20:55] #404 closed

[2022-04-25 20:55] jm-duke commented on #406
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:55] #406 closed

[2022-04-25 20:55] #407 closed

[2022-04-25 20:55] jm-duke commented on #408
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:55] #408 closed

[2022-04-25 20:56] jm-duke commented on #410
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:56] #410 closed

[2022-04-25 20:56] jm-duke commented on #411
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:56] #411 closed

[2022-04-25 20:56] jm-duke commented on #415
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:56] #415 closed

[2022-04-25 20:57] #418 closed, assigned to nobody

[2022-04-25 20:57] jm-duke commented on #425
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:58] jm-duke commented on #426
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:58] jm-duke commented on #427
Doing some clean-up and this issue report is really old, so I'm closing it.

[2022-04-25 20:58] #427 closed

[2022-07-15 21:15] jm-duke commented on #439
https://github.com/xbmc/repo-scripts/pull/2306 created.

@aqw : Can you please add a comment to the PR giving me the permission to submit the gamepass addon?

They asked for it before:

[2022-07-16 10:46] aqw commented on #439
Thanks for the ping. I have commented in the upstream PR.

If anything else comes up, let me know. :-)

Good luck with the season!

[2022-07-16 21:38] jm-duke commented on #439
Awesome, thank you :)

[2022-08-09 18:46] TopRamenDom commented on #438
We need to have our own credentials to use the add on correct ?

[2022-08-10 07:06] jm-duke commented on #438
Yup

[2022-08-16 20:30] jm-duke commented on #438
omg, good catch. I obviously forgot to update the skins when renaming stuff :D

Thanks!

[2022-08-16 20:38] #438 closed

[2022-08-16 21:59] ohhmyy opened #441 "Suggestion: Change logo URL"
Hi @jm-duke. First of all thank you for keeping the addon running. Have you thought about changing the logo URL to show the current team logos?
I did that locally (changed to https://static.www.nfl.com/t_thumb_squared/f_auto/league/api/clubs/logos/%s, then also had to adjust the image dimensions and position in the xml in the skin):
![pass](https://user-images.githubusercontent.com/88911468/184992

[2022-08-17 19:03] jm-duke commented on #441
Sure, why not. the logos you use look nice indeed :)

Would you consider creating a pull request for the necessary changes?

Cheers,
Duke.

[2022-08-17 20:38] ohhmyy commented on #441
#442
Done

[2022-08-20 21:01] #441 closed

[2022-08-23 21:47] jbarry786 opened #443 "Can't play any stream "No active NFL Game Pass Europe subscription was found""
EDIT: simplified this opening post to make it easier to read (the first replies below were in response to a longer version of the post)

----
Hey everyone,

I just can't seem to get the addon to work.

**Kodi 19.1 Log:** https://paste.kodi.tv/paseqoyibo.kodi

I imagine I must be missing something 'obvious' here, otherwise I'd see similar issues reported. Can anyone have a look and suggest what may

[2022-08-24 21:06] jm-duke commented on #443
Hi,

well, this error is kinda misleading.

1) Gamepass Europe is Gamepass International nowadays. I'll update the error message.

2) The add-on uses the subscription check to verify, if a session was already established and a login is not required. If you were not authenticated previously, the subscription check fails and this error is logged. I should probably look into this as well.

In your ca

[2022-08-24 22:56] jbarry786 commented on #443
Hi @jm-duke

Thanks for the reply. I appreciate it.

I was aware after reading the issues here that inputstream needs to be active. I guess that log had the history when it wasn't enabled. But if you check the full log (just search for "creating inputstream"), you can can see that Inputstaream is installed/active and this error shows up:

"2022-08-23 20:52:40.637 T:9664     INFO <general>: Creatin

[2022-08-25 18:42] ohhmyy commented on #443
Hi @jbarry786 . Out of curiosity I installed the addon under Kodi 20 and got the same error as you. I don't know if the addon is supposed to work with Nexus at all though.

With Kodi 19 the addon runs with no problems (inputstream.adaptive activated in Kodi + activated in Game Pass addon).
Is your 403 error with Kodi 19? I can force this error only with deactivating inputstream.adaptive in the Gam

[2022-08-25 20:02] jbarry786 commented on #443
Hey @ohhmyy , thanks for the reply. My issue happens on Kodi 19 as well.

This is a log of the add-on, Kodi 19.1 with inputstream v3.0.1.

Tested just now:

https://paste.kodi.tv/paseqoyibo.kodi

Fails to open the manifest file, 403 error. My opening post above has attached a full debug log from the other day that shows the same:

**CCurlFile::Stat - Failed: HTTP response code said error(22) for**

[2022-08-28 18:59] ohhmyy commented on #443
Hi @jbarry786 . According to the log you posted, **inputstream.adaptive** is missing from your installation:
![Unbenanntiput](https://user-images.githubusercontent.com/88911468/187090302-a9fedfd0-98dd-498b-a901-396a4f6ee59f.png)

[2022-08-28 19:02] jbarry786 commented on #443
Hey @ohhmyy , isnt this inputstream?

![image](https://user-images.githubusercontent.com/30951795/187090387-eb4b1631-8e38-41df-8e46-d58a04524aa1.png)

[2022-08-28 19:28] jbarry786 commented on #443
@ohhmyy that is it. Of course it had to be something 'obvious'.

Thanks for looking into it.

[2022-08-28 19:28] #443 closed

[2022-08-30 15:04] jm-duke commented on #437
As this seems to be the major issue ppl are facing with the add-on right now, I'm thinking about elevating Inputstream Adaptive to the default streaming method.

So what to do with the fixed bitrate streams:

1. Remove the functionality altogether
2. Remove the bitrate settings and present a dialog for each stream to choose from

Created a branch, let's see where this goes...

[2022-09-05 18:46] Brandon1212b opened #444 "Is there International support yet?"
I apologize if this is not the correct place to ask this. I saw years ago there was discussion about implementing game pass international support. Has this been added yet? I want to know if it would work outside of just game pass Europe before I purchase for the season. Thank you

[2022-09-05 21:28] jm-duke commented on #444
Well, that's harder do answer than you'd expect ;-)

The NFL renamed and re-designed their services quite a bite in the last years. I did some research for #437 and it kinda seems that NFL Europe and NFL International were merged at some point in time. The original (US) Game Pass was renamed to NFL Game Pass Domestic, retired this year and replaced by NFL+.

Today, there is only one NFL Game Pass

[2022-09-06 16:33] Brandon1212b commented on #439
Is this link still the best way to download? Is there a repo for this?

[2022-09-06 19:36] jm-duke commented on #439
Yes, it still is. I submitted a request to add it to the official repository, but this request is still pending.

[2022-09-06 19:45] Brandon1212b commented on #439
Awesome, thank you for the update

[2022-09-06 19:50] jm-duke commented on #439
If you install from the master branch, please ensure that the inputstream.adaptive addon is also installed and enabled in Kodi. And please enable "Use inputstream adaptive" in the Kodi Gamepass addon settings, fixed bitrate playback is no longer supported, see #437 for details

[2022-09-06 19:54] jm-duke commented on #437
It seems NFL Game Pass has gone all in on adaptive streaming (see e.g. https://support.nflgamepass.com/hc/en-gb/articles/360005287033-Can-I-adjust-the-video-quality-).

I removed the fixed bit rate code in the 437-fixed-bitrate-streams-fail-to-play branch and am testing now. On demand is streaming without issues, and the latest episode of Hard Knocks on NFL Network was fine too ;-)

Going to test

[2022-09-08 15:36] Brandon1212b opened #445 "Feature Request: Implement widget compatibility"
I am new to GitHub so if this post doesn’t belong here please let me know where I can post it:

Feature Request: Implement widget compatibility

Would it be possible to have the ability to see a today’s game section where you can watch todays live game? Having it set up so this can be added as a widget for the home screen to work with skins such as Arctic Horizon 2.

Similar is done for the MLB.TV

[2022-09-09 18:01] AleXSR700 opened #446 "Streams keep aborting"
Hello everyone,
maybe this is a problem on my end or a problem with the game stream, but I have tried multiple times to watch the full game replay if Bills vs Rams an it always aborts at some point.
First after a few minutes, then at a later point.

Is anybody else experiencing this issue or just me?

[2022-09-09 19:40] bender711 commented on #446
Same here. At about minute 30 (30:58) and about minute 50 (51:04) the stream starts to stutter and then aborts. The times are always the same.

But it seams to be a problem with the GamePass stream itself. Because when watching with the official app on a Fire TV the streams stop at the very same spots and the app shows an message saying "OOPS! Something went wrong".

[2022-09-09 20:43] Taijian commented on #446
I have the same issue with the stream on this addon (running on CoreElec on an Odroid N2). At certain points in the stream, playback stops and then crashes reliably.

However, playback on my laptop via the gamepass website does work.

[2022-09-09 20:57] ohhmyy commented on #446
Hi. It really seems to be a problem with the game stream. I'm having issues too with both the Kodi addon and the official app for Fire TV at the same times in the stream (website is fine though).
People are also complaining on Twitter https://twitter.com/danielbryantuk/status/1568286773071036422

[2022-09-10 08:32] jm-duke commented on #439
No, https://github.com/pigskin/pigskin is a big rewrite, which most probably won't work at all. I'm not sure, if this rewrite will ever be finished tbh ;-)

NFL Network usually takes quite a while to load, how long did you wait?
Can you enable debug logging, access NFL Network again and upload the log?

[2022-09-10 08:37] jm-duke commented on #445
I'd need to look into this in more detail, to see how MLB.TV is doing it and if we can apply the same approach to this add-on.

Don't expect anything to happen anytime soon, but I will take a look :)

[2022-09-10 08:42] jm-duke commented on #446
If the stream aborts during the game, it's most likely an issue with the stream itself or Kodi. The add-on is not involved in the streaming itself, we just pass the URI to Kodi, and Kodi takes care of playback.

Thanks to all who helped analyzing!

Closing this issue.

[2022-09-10 08:42] #446 closed

[2022-09-10 09:20] AleXSR700 commented on #446
Is there any way of then adding an option to switch to html stream? It seems to be working via browser.
Kind of a fallback option.

[2022-09-11 18:42] AleXSR700 opened #447 "Start from beginning instead of Live?"
Hello everyone,
maybe I am misremembering, but didn't it used to be possible to start games from the beginning like in the App?

Now, when a game is live the nfl app asks me if I want to go live or start from beginning. But the kodi addon does not and always goes live.

Would be great if this option returned or became available :)

Thank you
Alex

[2022-09-12 17:47] Brandon1212b commented on #439
That was it. I was just being too impatient. I tried again and it showed up after 30 seconds. Thanks again @jm-duke for being so helpful.

[2022-09-12 21:32] jm-duke commented on #437
Merged the branch, fixed bit rate streams are history. Adaptive streaming is default now.

[2022-09-12 21:32] #437 closed

[2022-09-12 21:35] jm-duke commented on #439
Great, thanks for the feedback!

@Brandon1212b out of curiosity, would you mind sharing where you're located? I just would like to know, where this add-on can be used nowadays.

[2022-09-12 21:44] jm-duke commented on #447
Yeah, I know the app can do that, and Gamepass in the browser too. I don't think this add-on ever had this feature though.

I did go through the debug log in detail yesterday to check another issue, and I did not see any possibility to request a live stream from the beginning. Maybe I missed it, so I'll check once more.

[2022-09-12 21:50] jm-duke commented on #446
I don't see it at this time, no.

But if you feel like it, please go ahead and reverse-engineer the browser version of Gamepass. If you can find a new method of resolving the stream URIs, which works for the games and NFL Network content, I'd be happy to accept a pull request.

[2022-09-13 05:57] AleXSR700 commented on #447
Maybe it is a feature they put in their apps (unlike hide scores on Android TV^^).

If it is not implemented, maybe it could be added as an add-on feature that if game is "Live" create a pop-up with "Go Live" where it does what it does now and another option to "Start from beginning" where it jumps to 0000 (similar to when a keyboard is connected and you enter the time to jump to)?

[2022-09-13 05:59] AleXSR700 commented on #446
I would love to but I am a buffoon ^^

[2022-09-16 21:14] jm-duke commented on #447
Yeah, it's not as easy as it sounds. There is no time index in the stream URLs, at least I haven't identified any yet. So there's no way currently to find out what index 0 refers to.

[2022-09-16 21:15] jm-duke commented on #444
Closing this ticket now, @Brandon1212b is able to watch it seems :)

[2022-09-16 21:15] #444 closed

[2022-09-17 02:47] AleXSR700 commented on #447
What a shame. They never make it easy for people:(

But I very much appreciate you looking into and  considering it! :)

[2022-09-18 21:08] jm-duke commented on #439
PR was merged by the Kodi team, the add-on is officially back ;-)

[2022-09-18 21:08] #439 closed

[2022-09-24 15:16] ohhmyy commented on #447
Hi. Could this inputstream.adaptive property be used for this purpose?
[inputstream.adaptive.play_timeshift_buffer](https://github.com/xbmc/inputstream.adaptive/wiki/Integration#inputstreamadaptiveplay_timeshift_buffer)

[2022-10-04 08:23] jm-duke commented on #447
Thanks for the hints, I'll take a closer look as soon as I can. Just a bit busy right now...

[2022-10-08 00:31] Coolbreezy81 opened #449 "Sending out SoS"
Can someone make a video how to make this work. I'm a newbie and can not figure this out. Trying to get this working for the boys to catch some games when we can. Downrange right now and looking for some help if possible.

[2022-10-15 21:18] jm-duke commented on #449
Hey,

it actually should be fairly easy to set up:

1. Install the add-on in your Kodi from the official repositories
2. Configure the add-on (at least username and password)
3. Watch games

Where are you stuck exactly?

Cheers.

[2022-10-17 19:33] Coolbreezy81 commented on #449
Configure the add-on (at least username and password) How do I do this? I don't have a paid version I thought this was a free cracked version...

[2022-10-17 20:14] Coolbreezy81 commented on #449
I thought this was a free version that I saw this work before from another guy who showed me and that's how it brought me to here. Do you know where I can get free version

[2022-10-18 07:35] jm-duke commented on #449
Well, it is free in a sense. You can install and use the add-on in Kodi for free. But you still need a valid NFL Gamepass subscription to view games and other content.

And sorry, I don't know of any means to view Gamepass content without subscription.

Gonna close this issue now, as this discussion is clearly off topic :)

[2022-10-18 07:35] #449 closed

[2022-10-28 08:34] AleXSR700 opened #450 "Plugin stopped working ( TypeError: string indices must be integers)"
Hello,

is the plugin working for anybody at the moment?

I am getting error messages.
Login etc. is correct. I can stream from the Android NFL app.

https://controlc.com/7c92d092

Thank you
Alex

[2022-10-28 15:33] crak3rjack opened #451 "Getting error in the addon"
Hi my account works fine in the Android app and website "see photo" but im getting error from the addon, here's the log hope i can get help and thanks
https://pastebin.com/MTjK2gCW
![Capture](https://user-images.githubusercontent.com/59179646/198676285-b42a1df5-1748-4ddb-bfe0-a71e0d35e715.jpg)

[2022-10-28 15:46] jm-duke commented on #450
Yeah, same here.

Something's changed in the API, no idea yet what and why. The add-on fails to retrieve stream content URLs for the chromecast stream type used so far, hls is still working though...

[2022-10-28 15:48] jm-duke commented on #451
Hi,

the log seems to be cropped, there's only 244 lines and I cannot see any issue in these lines.

When do you get the error?
As soon as you try to stream content? If yes, this might be a dup of #450

[2022-10-28 15:51] crak3rjack commented on #451
@jm-duke Yes when I try to open a stream

[2022-10-28 15:55] jm-duke commented on #450
Please try https://github.com/pigskin/kodi-gamepass/commit/6e25910659c15710117997c6bd119ec5712817e1 and see, if that works for you

[2022-10-28 15:56] jm-duke commented on #451
Ok, then please take a look at the workaround I proposed in #450. Works for me.

[2022-10-28 16:21] ohhmyy commented on #450
The workaround works for me. The stream now starts again. Thank you very much for this.
However, the highest resolution is now 1600x900. Wasn't it 1920x1080 before?
![grafik](https://user-images.githubusercontent.com/88911468/198684826-c040260f-b801-4f4f-9e2b-df55b9e75a3e.png)

[2022-10-28 20:39] AleXSR700 commented on #450
https://support.nflgamepass.com/hc/en-gb/articles/360005287033-Can-I-adjust-the-video-quality-#:~:text=Up%20to%201280x720px%20at%204.5,only%20for%20Chromecast%20and%20AppleTV

Depends on the stream, afaik.

[2022-11-07 22:02] jm-duke commented on #451
Live works, my wife and I verified a few time already ;-) Closing this one now.

[2022-11-07 22:02] #451 closed

[2022-11-07 22:06] jm-duke commented on #450
The workaround seems to be working fine, but what bugs me is that two out of three streaming contents fail. If NFL Gamepass decides to change the API for the single remaining stream, we're fucked. I hope I can find some time in the near future to reverse engineer the changes required to the content retrieval logic.

[2022-11-07 22:11] jm-duke commented on #447
I tested the play_timeshift_buffer property, but it has no effect :(

I looked into this a bit as well, but I don't think we can use the same approach for NFL Gamepass. If I understood it correctly, he starts streaming the actual content, before the user is selecting it. Can't do that with the NFL content, there's just too many :)

I'm afraid I need to reverse engineer the API the browser and/or t